<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">aeroclub123</property>
        <property name="hibernate.connection.url">jdbc:mysql://aeroclubsky.cce40nvfsgfz.us-east-2.rds.amazonaws.com:3306/aeroclub_sky</property>
        <property name="hibernate.connection.username">admin</property>
        <!--<property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/flight_pos</property>
        <property name="hibernate.connection.username">root</property>-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <mapping resource="com/back/office/flight.hbm.xml"></mapping>
        <mapping resource="com/back/office/sector.hbm.xml"></mapping>
        <mapping resource="com/back/office/kitCode.hbm.xml"></mapping>
        <mapping resource="com/back/office/equipmentType.hbm.xml"></mapping>
        <mapping resource="com/back/office/kitItem.hbm.xml"></mapping>
        <mapping resource="com/back/office/item.hbm.xml"></mapping>
        <mapping resource="com/back/office/voucher.hbm.xml"></mapping>
        <mapping resource="com/back/office/currency.hbm.xml"></mapping>
        <mapping resource="com/back/office/orderMainDetails.hbm.xml"></mapping>
        <mapping resource="com/back/office/paymentMethods.hbm.xml"></mapping>
        <mapping resource="com/back/office/itemSale.hbm.xml"></mapping>
        <mapping resource="com/back/office/creditCard.hbm.xml"></mapping>
        <mapping resource="com/back/office/posFlight.hbm.xml"></mapping>
        <mapping resource="com/back/office/sifDetails.hbm.xml"></mapping>
        <mapping resource="com/back/office/promotion.hbm.xml"></mapping>
        <mapping resource="com/back/office/user.hbm.xml"></mapping>
        <mapping resource="com/back/office/sifSheet.hbm.xml"></mapping>
        <mapping resource="com/back/office/bondMessage.hbm.xml"></mapping>
        <mapping resource="com/back/office/cartNumber.hbm.xml"></mapping>
        <mapping resource="com/back/office/sealDetails.hbm.xml"></mapping>
        <mapping resource="com/back/office/openingInventory.hbm.xml"></mapping>
        <mapping resource="com/back/office/faDetails.hbm.xml"></mapping>
        <mapping resource="com/back/office/HHCMaster.hbm.xml"></mapping>
        <mapping resource="com/back/office/equipmentMaster.hbm.xml"></mapping>
        <mapping resource="com/back/office/preOrderWeb.hbm.xml"></mapping>
        <mapping resource="com/back/office/preOrderItemWeb.hbm.xml"></mapping>
        <mapping resource="com/back/office/faMessages.hbm.xml"></mapping>
        <mapping resource="com/back/office/userComment.hbm.xml"></mapping>
    </session-factory>
</hibernate-configuration>
